In [4]:
import pandas as pd
import numpy as np
# read data
df = pd.read_csv("test.csv")
df.drop(columns=df.columns[0], 
        axis=1, 
        inplace=True)

In [5]:
df.head()

         time    lp_id  pct_access  engagement_index  district_id
0  2020-01-01  93690.0        0.00               NaN         1000
1  2020-01-01  17941.0        0.03              0.90         1000
2  2020-01-01  65358.0        0.03              1.20         1000
3  2020-01-01  98265.0        0.57             37.79         1000
4  2020-01-01  59257.0        0.00               NaN         1000

In [6]:
# for lp_id, replace missing values by 0
df['lp_id'].replace(np.nan, 0, inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104003 entries, 0 to 104002
Data columns (total 5 columns):
time                104003 non-null object
lp_id               104003 non-null float64
pct_access          104003 non-null float64
engagement_index    61655 non-null float64
district_id         104003 non-null int64
dtypes: float64(3), int64(1), object(1)
memory usage: 4.0+ MB

In [9]:
# for pct_access and engagement_index, replace missing values with yesterday's value for the same product and district_id
# sort lp_id then time
df.sort_values(by=['lp_id', 'time'])

              time    lp_id  pct_access  engagement_index  district_id
72437   2020-09-24      0.0        0.00               NaN         1000
87738   2020-11-07      0.0        0.00               NaN         1000
18036   2020-03-03  10067.0        0.09              0.89         1000
21021   2020-03-11  10067.0        0.03              0.30         1000
24447   2020-03-23  10078.0        0.03              0.58         1000
68078   2020-09-11  10078.0        0.03              0.27         1000
72267   2020-09-24  10078.0        0.03              0.27         1000
74116   2020-09-29  10078.0        0.03              0.26         1000
99284   2020-12-13  10078.0        0.03              0.52         1000
3745    2020-01-14  10084.0        0.00               NaN         1000
7703    2020-01-29  10084.0        0.03              1.49         1000
18668   2020-03-04  10084.0        0.03              0.59         1000
23372   2020-03-19  10084.0        0.03             14.42         1000
25138   2020-03-24  10084.0        0.03              0.58         1000
29594   2020-04-06  10084.0        0.06              0.58         1000
30180   2020-04-07  10084.0        0.03              0.29         1000
31784   2020-04-13  10084.0        0.00               NaN         1000
32073   2020-04-14  10084.0        0.03              1.74         1000
32295   2020-04-15  10084.0        0.00               NaN         1000
34947   2020-04-23  10084.0        0.00               NaN         1000
35124   2020-04-24  10084.0        0.00               NaN         1000
37438   2020-04-30  10084.0        0.00               NaN         1000
42788   2020-05-15  10084.0        0.00               NaN         1000
81948   2020-10-22  10084.0        0.03             19.70         1000
67094   2020-09-08  10105.0        0.00               NaN         1000
81800   2020-10-21  10105.0        0.03              0.26         1000
1557    2020-01-07  10129.0        0.03              0.30         1000
7712    2020-01-29  10129.0        0.00               NaN         1000
12180   2020-02-12  10129.0        0.00               NaN         1000
23964   2020-03-21  10129.0        0.00               NaN         1000
...            ...      ...         ...               ...          ...
99678   2020-12-14  99922.0        0.39             13.55         1000
100006  2020-12-15  99922.0        0.13              5.99         1000
100887  2020-12-17  99922.0        0.03              1.04         1000
101253  2020-12-18  99922.0        0.10             14.58         1000
102139  2020-12-21  99922.0        0.03              1.04         1000
102726  2020-12-23  99922.0        0.00               NaN         1000
103037  2020-12-24  99922.0        0.03              0.26         1000
5608    2020-01-21  99984.0        0.03              1.19         1000
14193   2020-02-20  99984.0        0.00               NaN         1000
16000   2020-02-26  99984.0        0.03              1.19         1000
19056   2020-03-05  99984.0        0.00               NaN         1000
23806   2020-03-20  99984.0        0.00               NaN         1000
26086   2020-03-26  99984.0        0.00               NaN         1000
29012   2020-04-03  99984.0        0.00               NaN         1000
31440   2020-04-10  99984.0        0.03              0.29         1000
40104   2020-05-08  99984.0        0.00               NaN         1000
43407   2020-05-18  99984.0        0.00               NaN         1000
51107   2020-06-10  99984.0        0.00               NaN         1000
51871   2020-06-12  99984.0        0.00               NaN         1000
52691   2020-06-16  99984.0        0.00               NaN         1000
53923   2020-06-23  99984.0        0.00               NaN         1000
64847   2020-09-01  99984.0        0.00               NaN         1000
67014   2020-09-08  99984.0        0.03              0.83         1000
72830   2020-09-25  99984.0        0.00               NaN         1000
73052   2020-09-26  99984.0        0.00               NaN         1000
74459   2020-09-30  99984.0        0.00               NaN         1000
75353   2020-10-02  99984.0        0.00               NaN         1000
77786   2020-10-09  99984.0        0.00               NaN         1000
93675   2020-11-24  99984.0        0.00               NaN         1000
95876   2020-12-03  99984.0        0.00               NaN         1000

[104003 rows x 5 columns]

In [ ]:
# for lp_id, replace missing values by 0
df.replace(np.nan, -1, inplace=True) 
# convert lp-id to integer
df = df.astype({'lp_id': 'int32'})

In [39]:
df.head()

         time  lp_id  pct_access  engagement_index  district_id
0  2020-01-01  93690        0.00             -1.00         1000
1  2020-01-01  17941        0.03              0.90         1000
2  2020-01-01  65358        0.03              1.20         1000
3  2020-01-01  98265        0.57             37.79         1000
4  2020-01-01  59257        0.00             -1.00         1000

In [49]:
df[(df['lp_id'] == 93690) & (df['district_id'] == 1000)]

              time  lp_id  pct_access  engagement_index  district_id
0       2020-01-01  93690        0.00             -1.00         1000
377     2020-01-02  93690        0.15              7.79         1000
4090    2020-01-15  93690        0.03              0.30         1000
6021    2020-01-22  93690        0.06              1.49         1000
6429    2020-01-23  93690        0.03              0.30         1000
6464    2020-01-24  93690        0.03              0.60         1000
7004    2020-01-27  93690        0.03              0.30         1000
7325    2020-01-28  93690        0.03              0.89         1000
7856    2020-01-29  93690        0.03              0.60         1000
9451    2020-02-04  93690        0.09              0.89         1000
10113   2020-02-06  93690        0.00             -1.00         1000
10809   2020-02-07  93690        0.09              0.89         1000
11534   2020-02-11  93690        0.12              8.02         1000
11981   2020-02-12  93690        0.03              7.43         1000
12469   2020-02-13  93690        0.15             18.11         1000
12942   2020-02-14  93690        0.12              7.72         1000
13620   2020-02-19  93690        0.03              0.59         1000
14359   2020-02-20  93690        0.12             15.13         1000
14433   2020-02-21  93690        0.03              1.19         1000
15121   2020-02-24  93690        0.06              4.15         1000
15474   2020-02-25  93690        0.03              2.67         1000
16079   2020-02-26  93690        0.06             10.38         1000
16551   2020-02-27  93690        0.09              4.15         1000
16975   2020-02-28  93690        0.06              4.15         1000
17492   2020-03-02  93690        0.03              5.63         1000
18140   2020-03-03  93690        0.03              1.78         1000
18420   2020-03-04  93690        0.12              5.33         1000
18873   2020-03-05  93690        0.09              8.89         1000
19537   2020-03-06  93690        0.09              2.96         1000
19899   2020-03-09  93690        0.03              8.29         1000
...            ...    ...         ...               ...          ...
58790   2020-07-24  93690        0.06              0.57         1000
59470   2020-07-29  93690        0.03              1.44         1000
60049   2020-08-01  93690        0.09              1.15         1000
60093   2020-08-02  93690        0.00             -1.00         1000
60191   2020-08-03  93690        0.06              2.59         1000
60599   2020-08-05  93690        0.03              0.29         1000
60696   2020-08-06  93690        0.03              0.29         1000
61452   2020-08-12  93690        0.03              0.57         1000
61867   2020-08-14  93690        0.03              1.15         1000
67943   2020-09-11  93690        0.03              0.27         1000
70568   2020-09-18  93690        0.03              1.07         1000
71761   2020-09-22  93690        0.03              0.27         1000
73753   2020-09-28  93690        0.03              0.26         1000
75167   2020-10-02  93690        0.05              1.85         1000
84723   2020-10-30  93690        0.03              0.26         1000
89349   2020-11-12  93690        0.00             -1.00         1000
91854   2020-11-19  93690        0.03              0.26         1000
95230   2020-12-01  93690        0.03              0.26         1000
97533   2020-12-08  93690        0.03              1.30         1000
99741   2020-12-14  93690        0.21              5.21         1000
100312  2020-12-15  93690        0.16              6.77         1000
100482  2020-12-16  93690        0.18              9.11         1000
100828  2020-12-17  93690        0.10              1.82         1000
101178  2020-12-18  93690        0.23              4.43         1000
101606  2020-12-19  93690        0.05              5.47         1000
102040  2020-12-21  93690        0.21              4.95         1000
102292  2020-12-22  93690        0.16             13.28         1000
102807  2020-12-23  93690        0.18             22.13         1000
102963  2020-12-24  93690        0.03              0.26         1000
103940  2020-12-31  93690        0.05              1.56         1000

[103 rows x 5 columns]